{% extends 'base.html' %}

{% block title %}
Home - Flask Task App
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 style="color: rgb(73, 194, 93);" class="display-4">Welcome to Flask Task App!</h1>
    {{  users }}
    <p style="color: rgb(100, 175, 150);" class="lead">Manage your tasks efficiently and stay organized.</p>
    <hr style="color: rgb(7, 7, 236);" class="my-4">
    <p style="color: rgb(100, 175, 150);">Get started by exploring the features below:</p>
    <div class="d-flex justify-content-center gap-3">
        <a href="{{ url_for('tasks') }}" style="color: aqua;" class="btn btn-primary btn-md">View Tasks</a>
        <a href="{{ url_for('users') }}" style="color: aqua;" class="btn btn-secondary btn-md">Manage Users</a>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}