{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4" style="text-decoration: underline; color:rgb(73, 194, 93);">Login.</h1>
<form action="{{ url_for('login') }}" method="post">
{{ login_form.hidden_tag() }}
{{ login_form.username.label(class='form-label') }} {{ login_form.username(class='form-control w-50') }}
{{ login_form.password.label(class='form-label') }} {{ login_form.password(class='form-control w-50') }}<br>
{{ login_form.submit(class='btn btn-outline-success') }}
</form>
</div>
{% endblock %}
